<div class="justify-content-center">
	<div class="row justify-content-md-center">
		<div class="col-md-8">
			<form novalidate>
				<div class="row mt-2">
					<div class="col-md-12 text-center">
						<div class="alert alert-primary" role="alert">
							<h4> Form Editor</h4>
						</div>
						<div style="float: right;" class="mb-2">
							<div *ngIf="eidtable;else editbutton">
								<button  class="btn btn-outline-primary ml-2" (click)="cancel()">Cancel</button>
								<button  type="button" class="btn btn-primary ml-2" (click)="save()">Save</button>
							</div>
							<ng-template #editbutton>
								<button  type="button" class="btn btn-primary ml-2" (click)="edit()">Edit</button>
							</ng-template>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12" [formGroup]="fieldForm">
						<div class="card primary-border ">
							<h5 class="card-header primary-bg">Form Fieldset</h5>
							<div class="card-body">
								<div *ngFor="let item of formFields;;  let i=index">
									<div class="row mb-3">
										<label class="col-5 ">{{item.label}}</label>
										<div class="col input-group" *ngIf="item.dataType !== 'Date' ;else datecontrol">
											<input   [formControlName]="item.name"  [attr.disabled]="!eidtable ? true : null"  class="form-control"  [required]="item.required" >
                    </div>
											<ng-template #datecontrol>
												<div class="col form-group">
													<div class="input-group">
														<input  [formControlName]="item.name"  [disabled]="!eidtable" class="form-control" placeholder="yyyy-mm-dd" name="dp"  ngbDatepicker  #d="ngbDatepicker">
														<div class="input-group-append">
															<button  [disabled]="!eidtable" class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-date" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                    <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                                  </svg>        
                              </button>
														</div>
													</div>
												</div>
											</ng-template>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="card primary-border ">
								<h5 class="card-header primary-bg">JSON</h5>
								<div class="card-body">
									{{diffJsonObject}}
								</div>
							</div>
						</div>
					</div>
			</form>
		</div>
	</div>
</div>